.navigator.js-navigator.js-affix(style="top: 0px; position: absolute; bottom: auto; left: 0px;")
  .-container
    .-row
      .-col12
        a(href="/", class="logo")
        ul.-menu.-dark-._horizontal_._active_.main-menu.main-menu-major
          li#login._active_
            a(href="#") Вход
          li#reg
            a(href="#") Регистрация
          li#info
            a(href="#") Инфо
        ul.-menu.-dark-._horizontal_.main-menu.main-menu-minor
          li._active_
            a.-icon-list.js-tooltip

