body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 19px; }

.navigator {
  width: 100%;
  z-index: 9999;
  position: relative;
  text-align: right;
  display: inline-block;
  background-color: #303236; }
  .navigator ul {
    background-color: rgba(255, 255, 255, 0); }
  .navigator ul li a {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px; }
  .navigator .logo {
    display: inline-block;
    width: 39px;
    height: 26px;
    margin-top: 5px;
    background-image: url("/images/logo.png");
    float: left; }
    .navigator .logo:hover {
      background-position: -39px 0; }

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90; }

.main {
  position: relative;
  padding: 50px;
  height: 100%; }
  .main h1 {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .main label {
    font-size: 35px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 15px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .main .social {
    width: 60px;
    text-align: center;
    margin-right: 12px; }
  .main form {
    padding-top: 30%; }
  .main .form-login-social {
    text-align: center; }
  .main table .-btn {
    border-radius: 0; }

@media screen and (max-width: 800px) {
  .main-menu-major {
    display: none; }

  .main-menu-minor {
    display: block; }
    .main-menu-minor li {
      margin-right: 60px; } }
@media screen and (min-width: 800px) {
  .main-menu-major {
    display: block; }

  .main-menu-minor {
    display: none; } }
